*{
  margin: 0;
}
body{
  background-color: #f6f6f6;
  height: 2000px;
}
a{
  text-decoration: none;
  color: #000000;
}
ul li{
  list-style: none;
}
.box {
  min-width: 300px;
  max-width: 640px;
  margin: auto;
}
.top{
  width: 100%;
  height: 50px;
  .aaa{
    width: 96%;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-top: 10px;
    margin-left: 2%;
    .img01{
      position: absolute;
      left: 6px;
      top:8px;
    }
    .img02{
      position: absolute;
      right: 6px;
      top:8px;
    }
    input{
      width: 100%;
      border: 1px solid #dcdcdc;
      padding-left: 42px;
    }
  }
}
.center{
  width: 100%;
  background-color: white;
}
  .center-t{
    padding: 2% 4%;
    border: 1px solid #dcdcdc;
    span{
      float: right;
      padding: 6px;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
      margin-top: 7px;
      margin-right: 12px;
    }
  }
  .center-c{
    .bbb{
      display: flex;
      justify-content: center;
      margin-top: -120px;
    }
    .ccc{
      width: 100%;
      display: flex;
      justify-content: flex-start;

      .ccc-l{
        width: 120px;
        margin-left: 20px;
        margin-top: 6%;
      }
      img{
        width: 100%;
        border: 3px solid white;
        border-radius: 4px;
      }
    }
    .ddd{
      padding-top: 15%;
      margin-left: 20px;

      span{
        font-size: 8px;
      }
    }
  }
  .jianjie{
    p{
      font-size: 12px;
    }
  }

