* {
  margin: 0;
}
body {
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  color: #000000;
}
ul li {
  list-style: none;
}
.box {
  min-width: 300px;
  max-width: 640px;
  margin: auto;
}
.top {
  width: 100%;
  height: 50px;
}
.top .aaa {
  width: 96%;
  height: 40px;
  line-height: 40px;
  position: relative;
  margin-top: 10px;
  margin-left: 2%;
}
.top .aaa .img01 {
  position: absolute;
  left: 6px;
  top: 8px;
}
.top .aaa .img02 {
  position: absolute;
  right: 6px;
  top: 8px;
}
.top .aaa input {
  width: 100%;
  border: 1px solid #dcdcdc;
  padding-left: 42px;
}
.center {
  width: 100%;
  background-color: white;
}
