body{
  max-height: 736px;
  max-width: 414px;
}
.dingcen{
  position: relative;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: orangered;
  color: white;
  font-size: 130%;
}
.back_button{
  position: absolute;
  height: 80%;
  width: 10%;
  top:10%;
  left: 1%;
}
.menu_button{
  position: absolute;
  height: 80%;
  width: 9%;
  top:10%;
  right: 1%;
}
.dizhi{
  border-bottom-style: dashed;
  border-color:rgba(146,136,70,0.07);
  height: 8%;
  position: absolute;
  background-color: white;
  width: 100%;
}
.span1{
  font-size: large;
}
.span2{
  color: gainsboro;
}
.dizhiyupingfen
{
  position: absolute;
  left: 4%;
  top:6%;
}
.go01{
  position: absolute;
  height: 60%;
  right: 1%;
  top:20%;
}
//.dianyinghaibao{
//  position: absolute;
//  top:15%;
//  left: 3%;
//}
//.dianyinghaibao img {
//  width: 20%;
//  height: 60%;
//}
//
.dianyinghaibao{
  position: absolute;
  top:15%;
  width: 100%;
  background-color: white;
  border-bottom-style: dashed;
  border-color:rgba(146,136,70,0.07);
}
.dianyinghaibaotu{
  width: 25%;
  height: 70%;
  margin: 3%;
}

.dianyingjieshao{
  //border-bottom-style: dashed;
  //border-color:rgba(146,136,70,0.07);
  height: 8%;
  position: absolute;
  background-color: white;
  width: 90%;
  top:110%;
  z-index: 999;
  left: 3%;
}
.riqi{
  position: absolute;
  top:48%;
  left: 3%;
  color: black;
  width: 100%;
}
.riqi:active{

 }
.dianyingjieshaohezi
{
  border-bottom-style: dashed;
  border-color: red;
}
.riqi{
  position: absolute;
  top: 140%;
  width: 100%;
}
.paipian2{
  position: absolute;

}
.weishangyin{
  position: absolute;
  height: 100%;
  width: 100%;
  top:150%;
}
.dibu{
  position: absolute;
  bottom: 0%;
  width: 100%;
  border-top: solid;
  border-top-color: rgba(77,0,33,0.07)
}
.flex-item{
  width: 30%;
  color: gray;
}
//影院详情的样式
.dizhi2{
  border-bottom-style: dashed;
  border-color:gray;
  height: 12%;
  position: absolute;
  background-color: white;
  width: 100%;
}
.tese_div{
  background-color: orangered;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:21%;
}
.fuwu_div{
  background-color: orangered;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:30%;
}
.yanjing_div{
  background-color: green;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:39%;
}
.yanjingtu{
  position: absolute;
  top:39%;
  left: 10%;
}
.yanjingmianfei{
  width: 40%;
  height: 4%;
  position: absolute;
  background-color: green;
  left: 28%;
  top:39%;
  text-align: center;
  color: white;

}
.shafa_div{
  background-color: green;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:48%;
}
.shafatu{
  position: absolute;
  top:48%;
  left: 12%;
}
.shafa{
  width: 40%;
  height: 4%;
  position: absolute;
  background-color: green;
  left: 28%;
  top:48%;
  text-align: center;
  color: white;
}
.yule_div{
  background-color: green;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:57%;
}
.yuletu{
  position: absolute;
  top:57%;
  left: 12%;
}
.yule{
  width: 40%;
  height: 4%;
  position: absolute;
  background-color: green;
  left: 28%;
  top:57%;
  text-align: center;
  color: white;
}
.wala_div{
  background-color: orange;
  width: 3%;
  height: 4%;
  position: absolute;
  left: 4%;
  top:66%;

}